.btn{
  background-color: $regular;
  color: $white;
  padding: 15px 5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  transition: ease .3s;

  &:hover{
    opacity: .8;
  }

}