.filters{
  margin-bottom: 50px;
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;

  .filter-item{
    height: 100;
    width: 20%;
  }
}

.rooms{
  display: flex;
  flex-wrap: wrap;
  &__item{
    margin-right: 5px;
    margin-bottom: 5px;
    
    input{
      display: none;
    }
    label{
      transition: ease .3s;
      display: block;
      width: 65px;
      padding: 10px 5px;
      text-align: center;
      border: 1px solid $border;
      background-color: $white;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
    }
    input:checked+label{
      background-color: $regular;
      color: $white
    }
  }
}

