.filters{
  margin-bottom: 50px;
  width: 100%;
  padding: 15px;
  border: 1px solid $regular;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  .filter-item{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-btn{
      margin-top: 23px;
    }

    &__name{
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.rooms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item{
    margin-bottom: 7px;
    
    input{
      display: none;
    }
    label{
      transition: ease .3s;
      display: block;
      width: 65px;
      padding: 10px 5px;
      text-align: center;
      border: 1px solid $border;
      background-color: $white;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
    }
    input:checked+label{
      background-color: $regular;
      color: $white
    }
  }
}


.range-fields{
  display: flex;
  justify-content: space-around;

  &__item{
    width: 90px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $grey;
    font-weight: bold
  }
}
