.flat-item{
  width: 270px;
  height: 365px;
  background: $white;
  box-shadow: 0px 5px 20px rgba(86, 86, 86, 0.05);
  border-radius: 10px;
  

  &__img{
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}



  