.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  right: -12px;
  top: -9px;
  border-radius: 50%;
  border: 2px solid white;
  background: $regular;;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
    
}

.noUi-connect {
  background: $regular;
}

.noUi-target{
  height: 4px;
  background: $grey;
  border: none;
  margin: 0 18px
}