doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    title FlatsJS test
  body
    .maincontent
      h1 FlatsJS test

      .container
        .filters
          .filter-item
            .filter-item__name Комнаты
            .filter-item__rooms
              .rooms
                .rooms__item
                  input(type="radio" name="rooms" value="all"  id="all" checked)
                  label(for="all") все
                .rooms__item
                  input(type="radio" name="rooms" value="Студия"  id="rs")
                  label(for="rs") S
                .rooms__item
                  input(type="radio" name="rooms" value="1-комнатная"  id="r1")
                  label(for="r1") 1к
                .rooms__item
                  input(type="radio" name="rooms" value="2-комнатная"  id="r2")
                  label(for="r2") 2к
                .rooms__item
                  input(type="radio" name="rooms" value="3-комнатная"  id="r3")
                  label(for="r3") 3к
                .rooms__item
                  input(type="radio" name="rooms" value="4-комнатная"  id="r4")
                  label(for="r4") 4к

          .filter-item
            .filter-item__name Этаж
            .range-fields
              .range-fields__item.range-fields__item1-1
              .range-fields__item.range-fields__item1-2
            #range1

          .filter-item
            .filter-item__name Площадь
            .range-fields
              .range-fields__item.range-fields__item2-1
              .range-fields__item.range-fields__item2-2
            #range2

          .filter-item
            .filter-item__name Стоимость
            .range-fields
              .range-fields__item.range-fields__item3-1
              .range-fields__item.range-fields__item3-2
            #range3

          .filter-item.filter-item-btn
            button.btn#btnFilter применить

        #list
