doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Flats JS
  body
    .maincontent
      h1 Flats JS

      .container
        .filters

          .filter-item
            .filter-item__name комнаты
            .filter-item__rooms
              .rooms
                .rooms__item
                  input(type="radio" name="rooms" value="all"  id="all" checked)
                  label(for="all") все
                .rooms__item
                  input(type="radio" name="rooms" value="Студия"  id="rs")
                  label(for="rs") S
                .rooms__item
                  input(type="radio" name="rooms" value="1-комнатная"  id="r1")
                  label(for="r1") 1к
                .rooms__item
                  input(type="radio" name="rooms" value="2-комнатная"  id="r2")
                  label(for="r2") 2к
                .rooms__item
                  input(type="radio" name="rooms" value="3-комнатная"  id="r3")
                  label(for="r3") 3к
                .rooms__item
                  input(type="radio" name="rooms" value="4-комнатная"  id="r4")
                  label(for="r4") 4к

          .filter-item
          .filter-item
          .filter-item

          .filter-item
            button#btnFilter применить


        #list
